@model WebshopApp.Services.Models.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Your Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var orders = Model.Orders;
}

<h1>@ViewData["Title"]</h1>

<h6>@Model.Id</h6>

@if (orders.Count() > 0)
{
    <div class="d-flex justify-content-between w-50">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-lg-5 d-flex justify-content-center"><h3>Id</h3></th>
                    <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Product name</h3></th>
                    <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Quantity</h3></th>
                    <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Price</h3></th>
                    <th scope="col" class="col-lg-1 d-flex justify-content-center"><h3>Actions</h3></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in orders)
                {
                    <tr class="row">
                        <th scope="row" class="col-lg-5 d-flex justify-content-center"><h5>@order.Id</h5></th>
                        <td class="col-lg-2 d-flex justify-content-center"><h5>@order.Product.Name</h5></td>
                        <td class="col-lg-2 d-flex justify-content-center"><h5>$@order.Quantity</h5></td>
                        <td class="col-lg-2 d-flex justify-content-center"><h5>@order.Product.Price</h5></td>
                        <td class="col-lg-1 d-flex justify-content-center">
                            <form method="get" action="/products/details">
                                <button type="submit" name="id" value="@order.Product.Id" class="btn bg-musaca">Details</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
    </div>
}
