@model WebshopApp.Services.Models.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Your Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var products = Model.Products;
    
}

<h1>@ViewData["Title"]</h1>

<h6>@Model.Id</h6>
<hr />
@if (products.Any())
{
    <hr />
    <h4>Products: @products.Count</h4>
    <div class="d-flex justify-content-between w-50">
        <table class="table table-hover table-bordered">
            <thead>
            <tr class="row">
                <th scope="col" class="col-lg-5 d-flex justify-content-center"><h3>Id</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Product name</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Quantity</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Price</h3></th>
                <th scope="col" class="col-lg-1 d-flex justify-content-center"><h3>Actions</h3></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in products)
            {
                <tr class="row">
                    <th scope="row" class="col-lg-5 d-flex justify-content-center"><h5>@product.Id</h5></th>
                    <td class="col-lg-2 d-flex justify-content-center"><h5>@product.Name</h5></td>
                    <td class="col-lg-2 d-flex justify-content-center"><h5>$@product.Quantity</h5></td>
                    <td class="col-lg-2 d-flex justify-content-center"><h5>@product.Price</h5></td>
                    <td class="col-lg-1 d-flex justify-content-center">
                        <form method="get" action="/product/details">
                            <button type="submit" name="id" value="@product.Id" class="btn btn-dark">Details</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <a href="/order/create" class="btn-dark btn-lg">Confirm Order</a>
    </div>
    <hr/>
    <div class="d-flex justify-content-between">
        <h2>Total:</h2>
        <h2>$@Model.Total</h2>
    </div>
}
else
{
    <h4>You do not have products in your cart.</h4>
}
<hr />