@using System.Linq
@model WebshopApp.Services.Models.ViewModels.AllCommentsByProductViewModel

@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var comments = Model.CommentViewModels.ToList();

}

<h1 class="text-center">@ViewData["Title"]</h1>

@if (comments.Any())
{
    <div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col" class="align-middle text-center"><h3>Id</h3></th>
            <th scope="col" class="align-middle text-center"><h3>Product name</h3></th>
            <th scope="col" class="align-middle text-center"><h3>Content</h3></th>
            <th scope="col" class="align-middle text-center"><h3>Product price</h3></th>
            <th scope="col" class="align-middle text-center"><h3>Actions</h3></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var comment in comments)
        {
            <tr>
                <th scope="row" class="align-middle text-center"><h5>@comment.Id</h5></th>
                <td class="align-middle text-center"><h5>@comment.Product.Name</h5></td>
                <td class="align-middle text-center"><h5>@comment.Content</h5></td>
                <td class="align-middle text-center"><h5>$@comment.Product.Price</h5></td>
                <td class="align-middle text-center">
                    <form method="get" action="/comment/details">
                        <button type="submit" name="id" value="@comment.Id" class="btn btn-dark btn-lg">Details</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>
        }

