@model WebshopApp.Services.Models.ViewModels.CommentViewModel
@inject SignInManager<WebShopUser> SignInManager

@{
    ViewData["Title"] = "Comment Details";
}

<h1 class="text-center mt-3">@ViewData["Title"]</h1>

<div class="container w-50">
    <hr />
    <form>
        <div class="form-group">
            <label asp-for="Content" class="text-center font-weight-bold">Content</label>
            <textarea asp-for="Content" class="form-control" rows="4" cols="50">@Model.Content</textarea>
        </div>
        <div class="form-group">
            <label asp-for="Product.Name" class="text-center font-weight-bold">Product name</label>
            <input asp-for="Product.Name" class="form-control" placeholder="@Model.Content"/>
        </div>
        <div class="form-group">
            <label asp-for="User.UserName" class="text-center font-weight-bold">Username</label>
            <input asp-for="User.UserName" class="form-control" placeholder="@Model.User.UserName"/>
        </div>
    </form>
</div>
<div class="justify-content-around">
    <div class="text-center">
        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || Model.User.UserName.Equals(User.Identity.Name)))
        {
            <a asp-action="Delete" asp-controller="Comment" asp-route-id="@Model.Id">Delete</a>
            <span>|</span>
            <a asp-action="Edit" asp-controller="Comment" asp-route-id="@Model.Id">Edit</a>
            <span>|</span>
        }
        <a asp-action="Index" asp-controller="Home">Home</a>
    </div>
</div>